// Assigns Text color #FF0000 to button tags
// Assigns the user hovers over button tags, text color should change to #00FF00

$buttonColor: #FF0000;
$hoverColor: #00FF00;

button {
    color: $buttonColor;
    &:hover {
        color: $hoverColor;
    }
}
