// Assigns Margin left and right at 10px to body tags
// Assigns Margin left and right at 15px to div tags

@mixin bodyStyle {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin divStyle {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include bodyStyle();
}

div {
    @include divStyle();
}